.venv/
__pycache__/
*.pyc
.DS_Store
mlflow.db
mlruns/
airflow_home/
airflow.log
mlflow.log
streamlit.log
airflow_webserver.log
airflow_scheduler.log
airflow_standalone.log
data_drift_report.html
data_drift_report.json
vit-base-patch16-224-in21k/
vit-cifar10/
vit-cifar10-final/
.ipynb_checkpoints/
*.tflite
*.pt
